<% var x=new Date(date); var today=new Date();%>
<% var start=Math.floor(x.getFullYear()/10)*10+1; if(start>x.getFullYear()) start=start-10; var end=start+9;%>
<h4><%=start%> - <%=end%></h4>
<!--Button group for years-->
<div class="row">
    <div class="btn-group btn-group-lg col-sm-12" role="group">
        <% for(var i=start;i<=start+3;i++){%>
            <% if(i==today.getFullYear()){%>
        <button type="button" class="btn btn-primary decadebtn" id='<%=i%>'><%=i%></button>
        <%}else{%>
            <button type="button" class="btn btn-secondary decadebtn" id='<%=i%>'><%=i%></button>
        <%}}%>
    </div>
</div>
<div class="row">
    <div class="btn-group btn-group-lg col-sm-12" role="group">
        <% for(var i=start+4;i<=start+7;i++){%>
            <% if(i==today.getFullYear()){%>
        <button type="button" class="btn btn-primary decadebtn" id='<%=i%>'><%=i%></button>
        <%}else{%>
            <button type="button" class="btn btn-secondary decadebtn" id='<%=i%>'><%=i%></button>
        <%}}%>
    </div>
</div>
<div class="row">
    <div class="btn-group btn-group-lg col-sm-12" role="group">
        <% for(var i=start+7;i<=end;i++){%>
            <% if(i==today.getFullYear()){%>
        <button type="button" class="btn btn-primary decadebtn" id='<%=i%>'><%=i%></button>
        <%}else{%>
            <button type="button" class="btn btn-secondary decadebtn" id='<%=i%>'><%=i%></button>
        <%}}%>
    </div>
</div>