<%-include("partials/header.ejs")%>
<link rel="stylesheet" href="/stylesheets/timer.css">
<div class="container">
<div class="container all">    
<h1>Timers <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-stopwatch text-warning" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07A7.001 7.001 0 0 1 8 16 7 7 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3zm0 2.1a.5.5 0 0 1 .5.5V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 0 1 .5-.5z"/>
</svg> </h1>
<br>
<div class="row x">
  <% userdata.timers.forEach(function(timer){%>
      <div class="col-sm-6 col-md-3">
        <div class="card border-info">
          <h5 class="card-header"><%=timer.title%></h5>
          <div class="card-body text-info"> 
            <form style="display: inline;" method="POST" action="/timer/<%=timer.id%>?_method=PUT">      
            <p class="card-text time">Time  

              <span class="hours" ><%=timer.hours%></span>
              <input type="number" id="1" name="hours2" class="form-control hid a" min="0" max="23" value='<%=timer.hours%>'>:
              <span name="minutes" class="minutes" ><%=timer.minutes%></span>
              <input type="number" id="2" name="minutes2" class="form-control hid b" min="0" max="59" value='<%=timer.minutes%>'>:
              <span name="seconds" class="seconds" ><%=timer.seconds%></span>
              <input type="number" id="3" name="seconds2" class="form-control hid c" min="0" max="59" value='<%=timer.seconds%>'>
            
            </p>
            <button type="button" class="btn btn-info select">Select</button>
            
              <button type="button" class="btn btn-outline-secondary btn-sm edit">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
              </button>
              <button type='submit' class='btn btn-outline-secondary btn-sm hid myc'>Save</button>
            </form>
              <form style="display: inline;" method="POST" action="/timer/<%=timer.id%>?_method=DELETE">
              <button type="submit" class="btn btn-outline-danger btn-sm">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash2-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.037 3.225l1.684 10.104A2 2 0 0 0 5.694 15h4.612a2 2 0 0 0 1.973-1.671l1.684-10.104C13.627 4.224 11.085 5 8 5c-3.086 0-5.627-.776-5.963-1.775z"/>
                      <path fill-rule="evenodd" d="M12.9 3c-.18-.14-.497-.307-.974-.466C10.967 2.214 9.58 2 8 2s-2.968.215-3.926.534c-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466zM8 5c3.314 0 6-.895 6-2s-2.686-2-6-2-6 .895-6 2 2.686 2 6 2z"/>
                    </svg>
              </button></form>
          </div>
        </div>
      </div>
  <%})%>
</div>
<hr>
<br>
<p>Select the countdown timing</p>
<form class="form" method="POST" action="/timer">
<div class="form-group">
    <label for="hours" >Hours</label>
    <input type="number" id="hours" name="hours" class="form-control" min="00" max="23" value="0">    
  </div>
  <div class="form-group">
    <label for="minutes">Minutes</label>
    <input type="number" id="minutes" name="minutes" class="form-control" min="00" max="59" value="0">
    
  </div>
  <div class="form-group">
    <label for="seconds">Seconds</label>
    <input type="number" id="seconds" name="seconds" class="form-control" min="00" max="59" value="0">    
  </div>
  <div class="form-group n">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" class="form-control">    
  </div>
  <br>
  <button type='button' class="btn btn-primary start">Start</button>
    <button type='submit' class='btn btn-dark save'>Save Timer</button>
  </form>
  <p id="timeleft"></p>
  <p id="timeup"></p>
  <audio src="../assets/alarm.mp3" type="audio/mpeg" autostart="false" width="0" height="0" id="sound1"
enablejavascript="true">
</div>
</div>
<script src="/logic/timer.js"></script>
<%-include("partials/footer.ejs")%>